body
{
  background-color :#f4eeff;

}
hr
{
  border-color:#65587f;
  border-style:dotted none none;
  border-width:7px;
  width:5%;
}
h1 {
  color:#6e5773;
}
h2 {
  color:#a278b5;
}
